@import "../../variables";

.app-layout {
  min-height: 100vh;
  position: relative;
  padding-left: $sideBarWidth;

  &__header {
    height: $headerHeight;
  }

  &__sidebar {
    height: 100%;
    width: $sideBarWidth;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__content {
    padding: 15px;
  }
}