@import "../../variables";

.app-tip-modal {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__icon {
    background: $primaryBg;
    border-radius: 5px;
    color: $primary;
    padding: 5px;
    margin-right: 15px;
  }

  &__close-btn {
    margin-left: auto;
    padding: 5px 8px;
    border-radius: 5px;
    background: $primaryBg;
    color: $primary;
    border: 1px solid darken($primaryBg, 0.1);
  }
}