.app-table {
  $border: 1px solid #D1CFD7;

  margin-bottom: 15px;
  border: $border;
  border-radius: 5px;
  overflow: hidden;

  &__row {
    display: flex;
    flex-flow: row nowrap;
  }

  &__row:not(:last-child) {
    border-bottom: $border;
  }

  &__row--header {
    background: #F7F7FA;
  }

  &__cell {
    padding: 8px;
  }

  &__cell:not(:last-child) {
    border-right: $border;
  }
}