@import "../../variables";

.app-header {
  display: flex;
  padding: 15px;
  background: #ffffff;
  height: 100%;

  &__user-info {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__avatar {
    width: 30px;
    height: auto;
    margin-right: 15px;
  }

  &__avatar img {
    max-width: 100%;
    height: auto;
  }
}