@import "../../variables";

.app-status {
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  width: 80px;

  &--paid {
    background: $primaryBg;
    color: $primary;
  }

  &--unpaid {
    background: rgba(255, 45, 85, 0.11);
    color: #FF4E3D;
  }

  &--pending {
    background: rgba(255, 149, 0, 0.11);
    color: #FF9500;
  }
}