@import "../../variables";

.app-navigation {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  background: $secondary;

  &__logo {
    height: $headerHeight;
    background: $primary;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
  }

  &__link {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: $primary;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &__link:not(&__link--active):hover {
    background: darken($secondary, 10%);
  }

  &__link--active {
    background: #ffffff;
  }
}